 .x{
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
font-style: italic;
    font-weight: 300px;
}
 .y{
    font-family: 'cairo';
    font-weight: 700px;

}
 .z{
    font-family: 'jomhuria';
    font-weight: 400px;
}