.one{
    background-color: brown;
    color:aliceblue;
    
    width: 400px;
    width: fit-content;
    margin-bottom: 10px;
}
.two{
    background-color: brown;
    color:aliceblue;
    
    width: 400px;
    width: fit-content;
    margin-bottom: 10px;
}
.three{
    background-color: brown;
    color:aliceblue;
    
    width: 400px;
    width: fit-content;
    margin-bottom: 10px;
}
.four{
    background-color: brown;
    color:aliceblue;
    
    max-width: 400px;
    width: fit-content;
    margin-bottom: 10px;
    height: 50px;
    overflow: hidden;
}